body,
html {
  font-family: "Montserrat", sans-serif;
  padding: 0px;
  margin: 0px;
}
h2 {
  text-transform: uppercase;
  font-size: 28px;
}
p {
  font-size: 16px;
  color: #777;
  line-height: 24px;
}
.shadow {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2),
    0 10px 10px -5px rgba(0, 0, 0, 0.4);
}

.btn {
  text-decoration: none;
  border-radius: 4px;
  padding: 10px 15px;
  display: inline-block;
  width: 120px;
  margin-top: 30px;
  font-size: 12px;
  letter-spacing: 0.8px;
  font-weight: 500;
}
.btn-green {
  background-color: #23662e;
  border: 2px solid #23662e;
  color: #fff;
}

.btn-green:hover {
  background-color: #241f20;
  border: 2px solid #241f20;
}
.title-section {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 180px;
}
.divider {
  border-bottom: 3px solid #23662e;
  width: 120px;
  margin: 0 auto;
  position: relative;
  bottom: 5px;
  margin-bottom: 30px;
}
.text-page {
  margin: 0 4%;
}
@media (min-width: 1200px) {
  h2 {
    font-size: 36px;
  }
  .text-page {
    margin: 0 15%;
  }
}
